@tailwind base;
@tailwind components;
@tailwind utilities;

/* 强制全透明，去除非预期的白底或黑底 */
html, body, #root {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 防止整个页面出现系统滚动条 */
}

/* 隐藏全局滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* 为挂件内部列表保留极其微弱、精致的自定义滚动条 */
.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
